* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
    line-height: 1.2em;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 700;
}

body {
    height: 800px;
    width: 1080;
}

/*navigation (test)*/

.box {
    text-align: center;
    width: 25%;
    height: 10%;
}

.box:hover {
    color: black;
}

#button_one {
    background-image: linear-gradient( 135deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%,  rgb(197, 26, 74) 100%);
    float: left;

}

#button_two {
    background-image: linear-gradient( 135deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%,  rgb(197, 26, 74) 100%);
}

#button_three {
    background-image: linear-gradient( 135deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%,  rgb(197, 26, 74) 100%);
    float: right;
}

#button_four {
    background-image: linear-gradient( 135deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%,  rgb(197, 26, 74) 100%);
    float: right;
}

#navigation {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

main h2{
    color: rgb(197, 26, 74);
    line-height: 1em;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: .1em;
}


/*images*/

#piimage {
    padding: 5px;
    background-color: rgb(108, 192, 74);
    border: 1em solid rgb(0, 0, 0);
    border-width: .3em 1.5em;
    border-radius: 1% 20%;
    margin-left: auto;
    margin-right: auto;
}

#pilogo {
    height: 5em;
}

/*homepage text*/

#homepage-text {
    margin-left: 5%;
}
/*class tags*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*web links*/

a {
    background-color: rgba(0, 0, 0, 0);
}
a:hover {
    background-color: rgb(197, 26, 74);
}

ul li:hover {
    font-size: 1.5em;
}

footer {
    margin-top: 500px;    
}

/*easter egg*/
footer p, #easteregg {
    font-size: small;
}

#easteregg {
    color: rgba(255, 255, 255, 0);
    margin-top: 10px
}

#easteregg:hover {
    color: rgb(0, 0, 0);
}

/*resource page*/

header h2 {
    color: rgb(197, 26, 74);
    line-height: 1em;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: .1em;
}

 .columns {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .column {
    flex: 1;
    padding: 0px 15px;
    max-width: 600px;
 }


