* {
    font-family: "Chocolate Classical Sans", sans-serif;
    background-color: rgb(37, 37, 37);
    line-height: 1.2em;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 700;
}

body {
    margin: auto 60px;
}

.bullet {
    list-style-type: none;
}

/*navigation*/

.navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px 10px;
}

#nav_home {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(197, 26, 74);
    background-image: linear-gradient(150deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%, rgb(197, 26, 74) 83%, rgb(108, 192, 74) 100%);
}

#nav_one {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(197, 26, 74);
    background-image: linear-gradient(150deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%, rgb(197, 26, 74) 83%, rgb(108, 192, 74) 100%);
}

#nav_two {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(197, 26, 74);
    background-image: linear-gradient(150deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%, rgb(197, 26, 74) 83%, rgb(108, 192, 74) 100%);
}

#nav_three {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(197, 26, 74);
    background-image: linear-gradient(150deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%, rgb(197, 26, 74) 83%, rgb(108, 192, 74) 100%);
}

#nav_four {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(197, 26, 74);
    background-image: linear-gradient(150deg, rgb(108, 192, 74) 0%, rgb(197, 26, 74) 17%, rgb(197, 26, 74) 83%, rgb(108, 192, 74) 100%);
}

/*homepage content*/

.home_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#hc_t1 {
    grid-row: 1/2;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px;
}

#hc_i1 {
    grid-row: 1/2;
    grid-column: 7/12;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto 0px;
}

#hc_i2 {
    grid-row: 2/3;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hc_t2 {
    grid-row: 2/3;
    grid-column: 7/12;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px;
}

/*hardware content*/

.hardware_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

#hwc_t1 {
    grid-row: 1/2;
    grid-column: 7/12;  
}

#hwc_i1 {
    grid-row: 1/2;
    grid-column: 2/7;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
}

#hwc_i2 {
    grid-row: 2/3;
    grid-column: 2/7;
    width: 100%;
    max-width: 600px;
}

#hwc_t2 {
    grid-row: 2/3;
    grid-column: 7/12;
}

#hwc_i3 {
    grid-row: 3/4;
    grid-column: 2/7;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
}

#hwc_t3 {
    grid-row: 3/4;
    grid-column: 7/12;
}

main .hwc_text {
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}

/*gpio content*/

.gpio_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#gc_h1 {
    grid-row: 1/2;
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gc_t1 {
    grid-row: 2/3;
    grid-column: 2/12;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gc_i1 {
    grid-row: 3/8;
    grid-column: 2/8;
    margin: 5px auto auto;
    width: 80%;
    height: auto;
}

#gc_h2 {
    grid-row: 3/4;
    grid-column: 8/12;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gc_t2 {
    grid-row: 4/8;
    grid-column: 8/12;
    display: flex;
}

#gc_h3 {
    grid-row: 8/9;
    grid-column: 1/13;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gc_link1 {
    grid-row: 9/10;
    grid-column: 2/5;
}

#gc_link2 {
    grid-row: 9/10;
    grid-column: 5/8;
}

#gc_link3 {
    grid-row: 9/10;
    grid-column: 8/11;
}

/*emulation*/

.ec_text {
    display: flex;
}

.ec_text > p {
    flex-basis: 50%;
    padding: 5px;
}

/*headers*/

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

h2 {
    font-size: 1em;
    text-align: center;
}

main h2 {
    color: rgb(255, 255, 255);
    line-height: 1em;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: .1em;
}

/*images*/

#piimage {
    padding: 5px;
    background-color: rgb(108, 192, 74);
    border: 1em solid rgb(0, 0, 0);
    border-width: .3em 1.5em;
    border-radius: 1% 20%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 10px;
}

#pilogo {
    height: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*homepage text*/

a {
    background-color: rgba(0, 0, 0, 0);
    /*zero background*/
}

/*footer (all pages)*/

.footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

#top {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    grid-row: 2/3;
    grid-column: 1/2;
}

/*resource page*/

#resources-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul a {
    color: rgb(197, 26, 74);
}

@media screen and (max-width: 700px) {
    main h2 {
        font-size: 1.7em;
    }
}

/*page content grid adjustments*/

@media screen and (max-width: 895px) {
    .home_content {
        display: block;
    }
}

@media screen and (max-width: 580px) {
    #top {
        grid-row: 2/3;
        grid-column: 3/4;
        text-align: right;
    }
}

@media screen and (max-width: 750px) {
    #resources-content {
        display: block;
    }
    .ec_text {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1785px) {
    #gc_i1 {
        grid-row: 4/7;
        grid-column: 2/12;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        margin: 5px auto auto;
        width: 50%;
        height: auto;
    }

    #gc_h2 {
        grid-row: 3/4;
        grid-column: 2/12;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #gc_t2 {
        grid-row: 7/8;
        grid-column: 2/12;
        display: flex;
    }
}

@media screen and (max-width: 1680px) {
    .gpio_content {
        display: block;
    }

    #gc_i1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media screen and (max-width: 700px) {

    #gc_i1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}